/* 
   CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 
    CSS styling starts here
*/


/* Make sure all elements operate under border-box model */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Wrap page contents in a centered container of fixed width/height */
#container {
    width: 992px;
    margin: 0 auto;
    height: 100%;                    /* Set height to 100% of viewport */
}


html, body {
    height: 100%;
}


/* 
    Font-styles and sizes
*/

body {
    font-family: 'Raleway', sans-serif;
}

a {
    color: darkolivegreen;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

#tagline {
    padding-top: 5px;
    color: #C8C8C8;
    font-size: 14pt;
}

.username {
    font-size: 16pt;
}

.date {
    color: #C8C8C8;
    font-size: 10pt;
}

.featureName {
    font-size: 16pt;
}

/* 
    Position and display for major sections
*/

main {
    float: left;
    width: 72%;
    height: 1100px;
    padding: 15px;
    margin-top: 10px;
    background-color: white;
    overflow: auto;                 /* Set overflow to scroll */
}

#featuredUsers, #impossibleFitnessAd {
    float: right;
    width: 25%;
    margin-top: 10px;
}


/* Make the Welcome message fixed at the bottom right corner of screen */
#Welcome {
    display: block;
    position: fixed;
    float: left;
    bottom: 0;
    right: 0;
    padding: 5px 5px;
    margin: 0 5px;
    background-color: #a4d79a;   
}


/* 
    Position & display for elements within header section
*/

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 64px;
    align-self: center;
}

#logoContainer {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 10px;
}

#logo {
    align-self: center;
}

#navigation {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    background-color:#a4d79a;
}

/* 
Note that these elements are not technically centered, since the float makes them align to the left edge
even if we set margin to auto. If we want this website to be responsive, we may want to work on this!
*/
#navigation li {     
    padding: 15px 0;
}

/* Links at top right corner of header */
#settings {
    display: inline-flex; 
}

#settings li {
    padding: 0 5px;
}

/* 
    Position & display for elements within main section
*/

#createAPostLink {
    font-size: 20pt;
}

#postForm {
    display: none;
}

#showPostForm {
    display: initial;
}

.replyForm {
    display: none;
}

.additional_replyForm {
    display: none;
}

.p {
    padding: 10 px;
}

#MoreStatuses {
    background-color: #a4d79a;
    font-size: 20pt;
}

.avatar {
    float: left;                /* Float avatar to the left so text will wrap around and underneath */
    margin-right: 10px;
    max-width: 15%;          
    border-radius: 50%;
}

.post {
    width: 100%;
    display: inline-block;
    margin: 20px 0;
}

.foodpic {
    display: block;         /* Make sure foodpic has its own block and text follows on another line */
    max-width: 35%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30%;
}

.foodpic-horizontal {
    display: block;         /* Make sure horizontal foodpic has its own block and text follows on another line */
    max-width: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25%;
}


/* 
    Position & display for elements within aside
*/


#featuredUsers {
    background-color: #F0F0F0;
    border-radius: 25px;
    padding: 20px 15px;
}

#impossibleFitnessAd {
    background-color: #F0F0F0;
    border-radius: 25px;
    padding: 20px 15px;
    margin-top: 10px;
    clear: right;
}

.featuredUser {
    margin: 50px 0px;
}

.featurePic {
    width: 125px;
    height: 125px;
    border-radius: 40pt;
}

#OctopusAd {
    display: block;
    margin: 10px auto;
    width: 100px;
    height: 100px;
    border-radius: 25pt;
}

.featureTag {
    display: inline-block;
    vertical-align: top;
    line-height: 18pt;
}

.quote {
    margin: 10px 0;
}

/*
    Media Queries follow below:
*/
@media only screen and (min-width: 769px) and (max-width: 992px) {          /* For tablet devices */
    html, body {
        
        width: 100%;
    }
    
    main, #container, header {                  /* Clear scrolling behavior on main */
        width: 100%;
        height: auto;
        overflow: visible;
    }
    
    #featuredUsers, #impossibleFitnessAd, #Welcome {            /* Give each module an equal width */
        float: left;
        width: 30%; 
        margin: 0 1%;
    } 
  
    #Welcome {                          /* Clear fixed property on the welcome message */
        position: relative;
        padding: 80px 25px;
        height: 200px;
        border-radius: 25px;
      }
    
    #navigation li {
        width: 21%;  
    }
    
}


@media only screen and (max-width: 768px) {
    html, body {
        width: 100%;
    }
    
    #featuredUsers, #impossibleFitnessAd, main, #container, header {            /* Clear scrolling behavior on main */
        width: 100%;
        height: auto;
        overflow: visible;
    }
    
    header {
        flex-direction: column;
    }
    
    #logoContainer {
        display: flex;
        width: 100%;
        align-items: center;
    }
    
    #settings {
        align-self: center;
        margin: 20px 0px;
    }

    #Welcome {                              /* Clear fixed property on the welcome message */
        width: 100%;
        height: auto;
        position: relative;
        margin-top: 20px;
        padding: 5px 10px;
    }
    
    #navigation li {
        width: 21%;  
    }

}
